/* Header */
body {
  background-color: rgb(227, 239, 249) !important;
  position: relative;
  height: 100%;
}

.navbar {
  height: 100%;
}

.nav-title {
  position: relative;
  left: 15%;
  font-size: 2rem;
  cursor: pointer;
  color: #0E185F !important;
}

.bg-primary {
  background-color: #e3f2fd !important;
}

.navbar-nav{
  margin-left: 50%;

}
.nav-items {
  /* color: #0E185F !important; */
}

.navs {
  color: #0E185F !important;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
p.navs:hover{
 transform: translateY(-2px);
 font-weight: bold;
}

.nav-items>li {
  margin: 0 1rem;
}

.complains {
  padding: 0.5rem 1rem;
  margin-top: 0.2rem;
  border-radius: 22px !important;
  /* background-color: #c6781b !important; */
}

/* navbar buttons sign in register complain and logout */

.nav-item-btn-1{
  color: #0E185F !important;
  outline: 0;
  background-color: transparent !important;
  border: .05rem solid;
  transition: all 0.2s;
}
.nav-item-btn-2{
  color: #fdfdfd !important;
  outline: 0;
  background-color: #0E185F !important;
  transition: all 0.2s;
  border: none;
}

.nav-item-btn-1:hover{
  background-color: #5463FF !important;
  color: #fdfdfd !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
  border : none;
}
.nav-item-btn-2:hover{
  color: #000000 !important;
  background-color: #E59934 !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

@media only screen and (max-width:994px) {
  .nav-title {
    left: 1%;
  }

  .nav-items {
    margin-left: 0%;
  }

  .nav-items>li {
    margin: 0 0.5rem;
  }

  .complains {
    width: 100%;
    text-align: center;
  }
}


/* video */
.carousel-img-style {
  height: 80vh;
  width: 100%;
}
/* important data text span */
.important-data{
text-decoration: underline;
}
/* data */
.data-style {

background-image: linear-gradient(
      to right,
      rgba(62, 219, 240, 0.7),
      rgba(133, 244, 255, 0.7)
    ),
    url("./Images/data-background.png");
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
  height: max-content;
}

.data-style>.card-group {
  padding: 0.5rem 0;
}

.data-style>h1 {
  padding-top: 1rem;
}


/* data header text styling */

.data-text{
  margin-bottom: 2rem;
  text-transform: uppercase;
}

/* data card style */
.card.data-card{
background-color: rgba(255, 255,  255, 0.8);
font-size: 1.5rem;
padding: 1.5rem 1rem;
margin: 3rem;
text-align: center;
border-radius: 3px;
box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
transition: all 0.3s;
}
.card.data-card:hover{
  transform: translateY(-.5rem) scale(1.05);
}


.card-mediadiv{
  margin : 1.2rem !important;
}
/* .card {
  margin-top: 2rem;
  margin-bottom: 2rem !important;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2.5rem !important;

} */

/* .card-footer {
  background-color: rgba(198, 189, 189, 0.936) !important;
  margin-top: 0.3rem !important;
} */

/* .display-card-body {
  background-color: rgb(73, 144, 73) !important;
} */

/* .display-card:hover {
  transform: scale(1.1);
} */

.display-card {
  background: none !important;
  border-radius: 6px !important;
  border: none;
  margin: 1.2rem;
  position: relative;
}


.display-text {
  font-size: 1rem !important;

}

.card-title {
  font-size: 3rem;
}

.icons {
  font-size: 4rem;
}

.card-text {
  font-size: 3rem;
}

@media screen and (min-width:1024px) {
  .card {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem !important;
  }

}

/* Media Section */

.media-style {
  color: white !important;
  height: 25vh;
  border-radius: 50% !important;
  /* background: none !important */
}

.media-style>.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.media-style p {
  font-size: 1.2rem !important;
  padding: 0 1rem;
  font-weight: 600;
}


.media-style:nth-child(1) {
  background-color: rgba(31, 181, 123,0.7) !important;
  border: none;
  transition: all 0.2s;
}
.media-style:nth-child(1):hover{
  background-color: rgba(0, 200, 151,0.7) !important;
  transform: translateY(-0.3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.media-style:nth-child(2) {
  background-color: rgba(255, 22, 93, 0.7) !important;
  border: none;
  transition: all 0.2s;
}
.media-style:nth-child(2):hover{
  background-color: rgba(249, 0, 191,0.7) !important;
  transform: translateY(-0.3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.media-style:nth-child(3) {
  background-color: rgba(249, 178, 8, 0.7) !important;
  border: none;
  transition: all 0.2s;
}
.media-style:nth-child(3):hover{
  background-color: rgba(255, 142, 0,0.7) !important;
  transform: translateY(-0.3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.media-style:nth-child(4) {
  background-color: rgba(168, 92, 249, 0.7) !important;
  border: none;
  transition: all 0.2s;
}
.media-style:nth-child(4):hover{
  background-color: rgba(153, 0, 240,0.7) !important;
  transform: translateY(-0.3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* .media-style:nth-child(3) {
  background-color: rgb(73, 14, 128) !important;
} */

@media screen and (max-width:994px) {
  .media-style {
    height: 15vh;
    border-radius: 18px !important;
  }

  .media-style p {
    font-size: 1.5rem;
  }
}

/* Notification */

.notification {
  /* height: 60vh !important; */
  margin-left: 1rem;
  margin-right: 1rem;
  background: none !important;
  background-color: rgba(183, 202, 219,0.7) !important;
  border-radius: 5px !important;
  border: none;
}

.notification>.card-header {
  font-size: 2rem;
}

.notification-items {
  color: #180A0A;
  font-size: 1.5rem;
  transition: all .2s;
}
.notification-items:hover{
  color: #0E3EDA;
  transform: scaleX(2px);
  cursor: pointer;
}
.more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width : 994px) {
  .notification {
    width: 50%;
    position: relative;
    left: 20%;

  }
}

.chart-heading,
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-heading {
  font-size: 3rem !important;
  font-weight: 500;
}

.chart>.recharts-wrapper {
  cursor: pointer !important;
}

.chart-style {
  margin-bottom: 8rem !important;
  font-size: 1.5rem !important;
}

.recharts-tooltip-item {
  font-size: 1rem !important;
}


@media only screen and (max-width : 994px) {
  .chart-style {
    font-size: auto !important;
  }


}

/* Footer */
.footer-style {
  background-color: #0f2027;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-item-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item-style {
  font-size: 1rem;
  cursor: pointer;
  margin: 1px 1rem
}


.footer-item-style:hover {
  color: goldenrod !important;
}




/* pagination */
.pagination {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  list-style: none;
  outline: none;
}

.pagination>.active>a {
  background-color: rgb(101, 238, 101);
  border-color: rgba(96, 132, 38, 0.9);
  color: rgba(96, 132, 38, 0.9);
}

.pagination>li>a {
  border: 2px solid rgba(96, 132, 38, 0.9);
  border-radius: 50%;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: rgb(101, 238, 101);
  border-color: 2px solid rgba(96, 132, 38, 0.9);
  outline: none;

}

/*.pagination > li > a, .pagination > li > span{
  color: rgba(96, 132, 38, 0.9)
}*/
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 50% !important;
  text-decoration: none;
  color: red !important;
}

.wrapper {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0;
}


.registerForm {
  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 25px;
}

.bg-input {
  background-color: #EBEBEB;
  height: 46px;
  border-radius: 8px;
}

.login:hover {
  cursor: pointer;
  color: white !important;
}

.deg_btn {
  display: inline-block;
  padding: 0 1em;
  text-transform: none;
  font-size: 1.5rem;
  background: #c6781b;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  cursor: pointer;
}

.login-title {
  font-size: 1.5rem;
  color: #c6781b;
  font-weight: 700;
}

.forgot-password {
  text-decoration: underline;
  cursor: pointer;
}

.create {
  color: #c6781b;
  font-weight: 500;
}

.link-decoration {
  text-decoration: none;
  color: #fff !important;
}

/* spinner */


.spinner {
  position: relative;
  top: 25% !important;
  left: 50% !important;
}


/* Complain card */

.complain-card{
  box-shadow: 2px 2px 1rem  rgba(0,0,0,.1);
}
.complain-card-header{
  font-size: 1.8rem;
  color: #000B49;

}
.complain-card-text{
  font-weight: 500;
  color: #383838;
}
.complain-card-body{
  background-color: #f7f7f7;
}
.complain-card-footer{
  border: none;
  background-color: #f7f7f7;
}
.complain-card-button{
  border-bottom: 1.5px solid #0F0E0E;
  color: #0F0E0E;
  padding: 0.3rem;
  transition: all 0.2s;
}
.complain-card-button:hover{
  background-color: #4D77FF;
  color: #fff;
  border-bottom: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
/* Complain  Form */
.rai_form_header {
  margin-bottom: 1.5rem;
}

.rai_form_h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ffffff, #f7f7f7);
  display: inline-block;
  color: transparent;
}

.section-rai {
  padding: 12rem 12rem;
  background-image: linear-gradient(to right bottom,
      rgba(245, 245, 245, 0.7),
      rgba(245, 245, 245, 0.7));
}

.rai {
  background-image: linear-gradient(105deg,
      rgba(204, 209, 228, 0.4) 0%,
      rgba(204, 209, 228, 0.4) 50%,
      transparent 50%),
    url(./whitestrip.png);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  /* height: 50rem; */
}

.rai .rai_form {
  width: 50%;
  padding: 6rem;
}

.form_input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(245, 245, 245, 0.8);
  border: none;
  letter-spacing: 2px;
  /* font-weight: 200; */
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
}

.form_input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(40, 180, 133, 0.7);
}

.form_input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form_label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-right: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form_input:placeholder-shown+.form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

#report_pic {
  margin-bottom: 2.3rem;
}

#location {
  margin-top: 2.3rem;
}

.rai_submit_btn {
  margin-top: 2rem;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 3px;
  border-style: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 180, 133, 1);
}

.rai_submit_btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
  /* background-color: rgba(40, 180, 133, 1); */
}

.rai_submit_btn:active {
  transform: translateY(-0.1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}